.all{
    padding: 2%;
    font-family: "Varela Round";
    direction: rtl;
    width:75%;
    margin:auto;
}

.title{
    font-size: 60px;
    margin: 1%;
    color: #2d6a4f;
}

.subtitle{
    font-size: 20px;
    margin-bottom: 30px;
    color: #2d6a4f;
}

.text{
    margin: 1%;
    text-align: right;
    display: list-item;
}
ul{
    direction: ltr;
}
li{
    padding:5px
}